.SUJITH{
    color: chartreuse;
    text-decoration: double;
    text-align: center;
    text-decoration-color: beige;
    text-shadow: 1cm;
}

.reddy{
    color: aqua;
    text-decoration: double;
    text-align: center;
    text-decoration-color: darkcyan;
    text-shadow: 1cm;
}
button{
    background-color: beige;
    color: blueviolet;
    
}